#  Tamrin Emtiyazi

بردار احتمال مثبت و منفی بودن بازده روزانه سهم بانک ملت را محاسبه کنید

و در ادامه


ماتریس احتمال انتقال مثبت و منفی بودن  بازده روزانه همین سهم را در بازه 2 روز متوالی محاسبه کرده و آن را تحلیل بنمایید


در نهایت آن را در یک دیتافریم پانداز ذخیره کنید

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("dataframe vabemelat.xlsx")

In [ ]:
bazdeh = df['Return'].values

In [ ]:
bazdeh

In [ ]:
unigram = np.zeros((2) , int)

for i in range(0 , len(bazdeh)):
    if bazdeh[i] > 0:
        unigram[0] += 1
    if bazdeh[i] < 0:
        unigram[1] += 1
        
# ["ehtemale mosbat budane sahm" , "ehtemale manfi budane sahm"]

In [ ]:
unigram = unigram / unigram.sum()

In [ ]:
unigram

In [ ]:
Bigram = np.zeros([2,2] , float)

In [ ]:
#[[+ --> +    ,   + ----> -],[- ---> +  , - ----> - ]]


for i in range(len(bazdeh) - 1):
    if bazdeh[i] > 0 :
        if bazdeh[i+1] > 0: 
            Bigram[0 , 0] += 1
        if bazdeh[i+1] < 0:
            Bigram[0 , 1] += 1
    if bazdeh[i] < 0:
        if bazdeh[i+1] > 0 :
            Bigram[1 , 0] += 1
        if bazdeh[i+1] < 0 :
            Bigram[1 , 1] += 1

In [ ]:
Bigram[0] = Bigram[0] / Bigram.sum(axis = 1)[0]
Bigram[1] = Bigram[1] / Bigram.sum(axis = 1)[1]

In [ ]:
Bigram

In [ ]:
pd.DataFrame(columns = ['+'    ,  '-'] , index = ['+'    ,  '-'] , data = Bigram)

# Tamrin Emtiyazi 2 (Pandas)

In [1]:
import pandas as pd

df = pd.read_csv('Salaries.csv' , 'utf-8')

df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

پنج ردیف اول داده ها را چاپ کنید

In [2]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

اطلاعات کلی وضعیت ستون های جدول را به دست آورید

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

میانگین مقدار دستمزد پایه را به دست آورید

In [5]:
df['BasePay'].mean()

66325.4488404877

بیشترین مقدار اضافه کاری چقدر است؟

In [6]:
df['OvertimePay'].max()

245131.88

عنوان شغلی آقای

JOSEPH DRISCOLL

چه میباشد؟

In [14]:
df[df['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

آقای 

JOSEPH DRISCOLL

همراه با مزایا چقدر دریافت میکند؟

In [26]:
df[df['EmployeeName'] == "JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

چه کسی بیشترین دستمزد را همراه با مزایا دریافت میکند؟

In [29]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

میانگین پایه حقیق به تفکیک سال چقدر میباشد؟

In [34]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

چه تعداد از کارکنان در عنوان شغلی خود کلمه 

Chief 

دارند؟

In [36]:
counter = 0
for i in range(len(df)):
    if "chief" in df['JobTitle'].iloc[i].lower():
        counter += 1
print(counter)

627

آیا میان طول عنوان شغلی کارکنان و میزان دریافتیشان همبستگی ای وجود دارد؟

In [39]:
len_job_title = []

for i in range(len(df)):
    a = len(df['JobTitle'].iloc[i])
    len_job_title.append(a)

df['len job title'] = len_job_title

In [42]:
df[['TotalPayBenefits' , 'len job title']].corr()

                  TotalPayBenefits  len job title
TotalPayBenefits          1.000000      -0.036878
len job title            -0.036878       1.000000